.filterHeader{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.filterHeader button {
    border: none;
    width: 30px;
    background-color: white;
    cursor: pointer;
}
.filterHeader button img{
max-width: 20px;
}

.filterLtpRange{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
}
.filterLtpRange > div{
display: flex;
justify-content: space-between;
width: 100%;
}
.filterLtpRange > div >input{
    width:100px;
padding : 5px;
}

.filterLtpChange{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.filterLtpChange > select{
    padding: 7px 5px;
    font-size: 14px;
    width: 110px;
}


.filterLtpStrike{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filterLtpStrike > input{
    width:110px;
    height:30px;
}
.filterDisplay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.filterDisplay div input{
    margin:0px 10px;
    font-size: 20px;
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    background-color: #610BEF;
    -webkit-transform: scale(1.5);
}
.hrLine{
    border: none;
    border-top: 1px solid #D3D3D3;
    margin: 20px 0;
    margin: -2px 0px;
    width: 100%;
}
.filterButtonSection{
    display: flex;
    align-items: center;
    width: 100%;
    gap:10px;
    margin: 12px 0px;
    justify-content: flex-end;
}

.filterButtonSection > button{
    padding: 8px 25px;
    font-size: 15px;
}

.filterButtonSection button:nth-child(1){
border-color: #2D57F4;
background-color: white;
}

.filterButtonSection button:nth-child(2){
background-color:#2D57F4 ;
color: white;
}